body {
	background-color: #1975B6;
	margin: 0;
}

.wrapper{
	max-width: 1200px;
	margin: 0 auto;
}

.header{
	background-color: #FFF;
	margin: 0 auto;
	width: 90%;
	height: 300px;
}
.header .top-nav{
	background-color: #FEB005;
	height: 50px;
	text-align: right;
}
.header .top-nav .items{
	padding: 15px 30px;	
}
.header .top-nav span{
	color: #FFF;
	margin-right: 15px;
}
.header .container{
	border: 1px #000 solid;
	
	text-align: center;
}
.header .container > div{
	border: 1px #000 solid;
	width: 30%;
	display: inline-block;
}
.header .container .logo img{
	width: 70%;
	height: auto;
}
